#svn file
.svn/
*.pyc
.gclient_entries
#generate folder
/build/Debug
/build/Release
/build/Debug_x64
/build/Release_x64
/build/User Data
/build/util/LASTCHANGE
/build/util/LASTCHANGE.blink
#visual studio files
*.vcproj
*.vcxproj
*.vcxproj.filters
*.sln
*.ncb
*.suo
*.user
*.ipch
*.obj
*.lib
*.pdb
*.sdf
*.opensdf
*.aps
#generate log file
*.log
#chromium file
DEPS
OWNERS
PRESUBMIT.py
*.isolate